<div class="search-container">
  <form action="/search" method="GET" class="form form--search-primary" role="search">
    {% if settings.search_type == 'products' %}
      <input type="hidden" name="type" value="product" />
    {% endif %}
    <input type="text" name="q" class="form__field" placeholder="{{ 'layout.search.placeholder_for_header' | t }}" autocomplete="off">

    <div class="icon icon--search js-icon--search">
      <svg width="30px" height="31px" viewBox="0 0 30 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>search-icon</title>
    <defs>
        <polygon id="path-1" points="3.02217802e-05 0.252313043 29.7993687 0.252313043 29.7993687 30.999999 3.02217802e-05 30.999999"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="main-nav" transform="translate(-34.000000, -59.000000)">
            <g id="search-icon" transform="translate(34.000000, 59.000000)">
                <g id="Group-3">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-2"></g>
                    <path d="M20.6230885,12.5170183 C20.732469,6.68470522 15.8788407,2.22852261 11.9289292,2.2913313 C6.6109646,2.37597478 2.20653982,6.52727913 2.1829115,11.6366183 C2.15954867,16.6109052 6.82839823,21.17114 11.9772478,21.2037574 C17.0406106,21.2355661 20.6225575,17.6368704 20.6230885,12.5170183 M19.0747699,20.9816357 C13.1568053,25.2434617 5.71441593,23.0033748 2.49512389,18.6056878 C-1.89469912,12.6092096 0.156185841,6.99605304 3.66884071,3.4399487 C6.76335398,0.307061739 13.5043274,-1.40764261 18.2119381,2.5641313 C22.7876018,6.42430522 24.492823,14.0211922 20.5309646,19.4359487 C22.723885,21.8803661 24.9406991,24.3638704 27.1739735,26.8322791 C27.7413186,27.4595574 28.3654779,28.0337313 28.9551239,28.6405226 C29.512115,29.214427 30.2785752,29.8080096 29.4011416,30.6444704 C28.5645929,31.4418443 27.9449469,30.7312704 27.3956549,30.1390357 C25.1246814,27.6894965 22.8656549,25.2283661 20.6100796,22.7640009 C20.1006106,22.2070791 19.623,21.6199661 19.0747699,20.9816357" id="Fill-1" fill="#032C48" mask="url(#mask-2)"></path>
                </g>
                <path d="M4.00982704,11.9787099 C4.00059097,9.97161321 4.65519744,8.17643117 6.04378284,6.6162095 C6.51799731,6.08324414 7.16423359,5.69411585 7.70858447,6.32800557 C8.01193164,6.68137326 8.11237391,7.56002441 7.84568238,7.88663787 C5.76352584,10.4362361 6.0221358,13.0345747 7.41793689,15.7118515 C7.54146933,15.9494608 7.80036791,16.1883946 7.78478205,16.4146135 C7.74841502,16.9467842 7.58447478,17.4720676 7.47191017,18 C6.9085099,17.8241108 6.00279778,17.7878204 5.83885754,17.4490219 C4.99808654,15.7107919 3.88369696,12.0213577 4.00982704,11.9787099" id="Fill-4" fill="#032C48"></path>
            </g>
        </g>
    </g>
</svg>
    </div>
    <button type="submit" class="btn btn--submit" value=""></button>
  </form>
</div>
