<div class="grid block-text">
  <section class="content grid--item large--one-half push--large--one-quarter medium--three-quarters push--medium--one-eigth medium-down--one-whole">
    {{ text_content }}
  </section>
</div>
