<div class="grid__item eight-twelfths push--two-twelfths intro">
  <h3 class="hed">Why you should be nuts about nuts.</h3>
  <p class="dek">They taste great! And they satisfy your hunger. Nuts are an excellent source of fiber and mono- and poly- unsaturated fats. These healthy fats help lower LDL (bad cholesterol) and raise HDL (good cholesterol) unlike the fats in processed foods. Did we mention they taste great?</p>
</div>
<h4 class="grid__item one-whole subhed">Cracking the benefits:</h4>
<section class="grid__item wrapper almonds lesson">
  <figure class="seven-twelfths left small-one-whole"><img class="" src='{{ "almonds.jpg" | asset_img_url: "large" }}' alt=""></figure>
  <div class="five-twelfths right small-one-whole qa">
    <h3 class="question">Why are almonds good for you?</h3>
    <p class="answer">Almonds are good for your muscles, bones, and teeth since they are a great source of calcium and magnesium.</p>
  </div>
</section>
<section class="grid__item wrapper pumpkin lesson">
  <div class="five-twelfths left small-one-whole qa">
    <h3 class="question">Why are pumpkin seeds good for you?</h3>
    <p class="answer">They're a rich source of zinc and a supplier of Vitamins E, K, and B. Feeling blue? They contain tryptophan which helps improve your mood. Their healthy fats and hight magnesium content are good for the heart and sore muscles. A great post-workout food for recovery.</p>
  </div>
  <figure class="seven-twelfths right small-one-whole"><img src='{{ 'pumpkin-seeds.jpg' | asset_img_url: "large" }}' alt=""></figure>
</section>
<section class="grid__item wrapper walnuts lesson">
  <figure class="seven-twelfths left small-one-whole"><img src='{{ 'walnuts.jpg' | asset_img_url: "large" }}' alt=""></figure>
  <div class="five-twelfths right small-one-whole qa">
    <h3 class="question">Why are walnuts good for you?</h3>
    <p class="answer">You may be shell shocked to know just how good walnuts are for you. High in fiber and healthy fats, walnuts can improve your blood-vessel health and circulation. They're also known to help curb appetite and hunger pains. Some evidence has even shown that when consumed regularly, walnuts can help deter memory loss.</p>
  </div>
</section>
<section class="grid__item one-whole sugars">
  <h3>Natural vs. Refined Sugars.</h3>
  <p>Sugar, regardless of its source, is a simple carbohydrate converted into glucose that the body then uses for energy. There is a big difference, however, between natural sugar and added sugar, refined sugar, and non-refined sugar. Added sugar can be refined or non-refined. Unrefined natural sweeteners such as maple syrup and honey have more beneficial nutrients compared to refined sugars—including table sugar, high fructose corn syrup, beet, or rice syrups.</p>
  <p><strong>The American Heart Association suggests an added sugar limit per day for:</strong></p>
  <ul>
    <li>Women 24 grams or about 6 teaspoons of sugar (100 calories) and,</li>
    <li>Men 36 grams or about 9 teaspoons of sugar (150 calories.)</li>
  </ul>
</section>
<section class="grid__item one-whole protein">
  <h3>Power up your protein knowledge.</h3>
  <p>Protein aids the healthy development of your organs, tissues, muscles, hair, and nails. Additionally, protein helps support the absorption of important nutrients use universally by the body to develop, grow, and function normally. This incredible enzyme and hormone producer is the building block of bones, muscles, cartilage, skin, and blood. It also helps to reduce hunger and boost metabolism—helping you to lose/maintain your weight while stabilizing your blood sugar levels. Protein is also known to help improve your ability to learn and concentrate—reducing brain fog and boosting your energy levels.</p>
  <ul>
    <li>The Recommended Dietary Allowance (RDA) is 0.8 grams of protein per kilogram of body weight or 0.36 grams per pound</li>
    <li>The average sedentary man should get 56 grams of protein; 46 grams of protein for the average sedentary woman</li>
    <li>1 Egg has 6 grams of protein, 2 Rounds have 6 grams of protein</li>
  </ul>
</section>
