<style>
  .section--subscribe .section-heading:before {
  	content: "{{ section.settings.subheading_overlap }}";
  }
</style>
<!-- SVGs -->
{%- include 'nuts.svg' -%}
{%- include 'lonealmond.svg'-%}
<section class="section section--subscribe clearfix">
    <div class="heading-block">
    {% comment %}
      Subscribe form headings
      {% endcomment %}
      {% if section.settings.heading_html != blank %}
        <h3 class="section-heading heading--page">{{ section.settings.heading_html }}</h3>
      {% endif %}
      {% if section.settings.lede != blank %}
        <p class="section__info text-center">{{ section.settings.lede }}</p>
      {% endif %}
    </div>

    <div class="form-wrapper">

      {% if settings.subscribe_form_variant == 'mailchimp' %}
        {% comment %}
        Snippet for MailChimp subscribe form
        For setting go to Admin -> Theme -> Customize Theme -> Homepage
        {% endcomment %}
        {% include 'subscribe-form-mailchimp' %}
      {% elsif settings.subscribe_form_variant == 'standart' %}
        {% comment %}
        Snippet for standart (Shopify) subscribe form
        For setting go to Admin -> Theme -> Customize Theme -> Homepage
        {% endcomment %}
        {% include 'subscribe-form-shopify'%}
      {% endif %}
    </div> <!-- End form-wrapper -->
</section>

{% schema %}
  {
    "name": "Subscribe Form",
    "settings": [
      {
        "type": "text",
        "id": "heading_html",
        "label": "Heading",
        "default": "Business<br> Values<br> Attitude"
      },
      {
        "type": "text",
        "id": "lede",
        "label": "Lede | Teaser text",
        "default": "Find out what's shakin' and mostly bakin' in our world. SIgn up today for the latest news and events, plus special offers and more. Those in-the-know get the sweetest deals!"
      },
	  {
        "type": "text",
        "id": "subheading_overlap",
        "label": "Overlap subheading",
        "default": "Family"
      }
    ],
	"presets": [
      {
        "name": "Subscribe Form",
        "category": "Special sections"
      }
    ]
  }
{% endschema %}
