<!-- Begin templates/collection.liquid -->
<section class="section section--page">
  {% assign hero_collection = collection %}
  {% include "block-hero" %}

  <div class="wrapper">
    <div class="page-description">
      <h2 class="heading--page lede">
          {{ 'collections.shop_title' | t }}
      </h2>
    {% comment %}
      <h2 class="subheading--page-small"><em>{{ collection.products.size }} {{ 'collections.product_list.products_in_collection' | t }}</em></h2>
    {% endcomment %}
    </div>


    {% comment %}
    Snippet for toolbar with types of view and sorting options
    {% include 'collection-toolbar' %}
    {% endcomment %}

    {% comment %}
    Show products (grid view)
    {% endcomment %}
    {% capture product_namber %}{{ settings.collection_grid_product_number }}{% endcapture %}
    {% paginate collection.products by product_namber %}

      <div class="grid">
        <div class="grid__item one-whole">
          <div class="collection-wrapper">

            {% for product in collection.products %}

              {% assign check_collection = false %}

              {% for collection in product.collections %}
                {% if collection.handle == 'landing-page-collection' and check_collection == false %}
                  {% assign check_collection = true %}
                {% endif %}
              {% endfor %}

              {% if product.first_available_variant.sku != settings.cart_special_sku and check_collection == false %}
                {% assign product_caption = settings.product_grid_caption %}
                {% include 'product-item-grid' %}

              {% endif %}
            {% endfor %}
          </div> <!-- End collection-wrapper -->
        </div> <!-- End grid__item -->
      </div> <!-- End grid -->

      {% if paginate.pages > 1 %}
        <div class="pagination">
          {% include 'pagination' %}
        </div>
      {% endif %}

    {% endpaginate %}
    {% assign quote_article = 'testimonials/dr-kathie-allen-salt-lake-city-ut' %}
    {% assign quote_text = articles[quote_article].content %}
    {% assign quotee = articles[quote_article].title %}
    {% include 'block-quote' %}
  </div> <!-- End wrapper -->
</section>
